* {
  /* box-sizing: border-box; */
  /* overflow: auto; */
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

.outer {
  /* margin-top: -80px; */
  height: 100vh;
  overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.page {
  background-color: #F5F7FF;
  margin-top: -80px;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 2em;
  margin-top: 20vh;
}

.title {
  color: gray;
  margin-bottom: 10vh;
}

.main-img {
  width: 60vw;
}

.dashboard-img {
  width: 60vw;
  padding-right: 3vw;
}

.chart-img {
  width: 40vw;
  padding-left: 10vw;  
}
