.page {
  background-color: #808080;
  overflow-y: auto;
  overflow-x: hidden;
  // height: 100vh;
}

.menuPages {
  background-color: #F5F7FF;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
